---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <p>Работа посвящена анализу частотности употребления московских топонимов в русской литературе XIX–XXI 
веков и сопоставлению ее с социологической оптикой. Описаны методы извлечения именованных сущностей из текстов, 
предшествующие исследования, проведено сравнение работы существующих NER-библиотек 
и описаны дальнейшие планы исследования.</p>
  
  <img src="photo_2023-04-07 17.22.32.jpeg">

</div>


