---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
    <p><img src="photo_2023-04-07 17.22.32.jpeg" width="200" height="350" align="center"></p>
  
  <p>В русской литературе XIX–XXI веков закономерно встречается довольно много топонимов, 
среди них есть и московские. Примеры тому можно найти и в классической литературе, и в современной фантастике, 
будь то Патриаршие пруды, где в том числе разворачивается сюжет «Мастера и Маргариты», 
или гостиница Космос из романов Сергея Лукьяненко. Не используя количественные методы, 
можно заметить, что некоторые топонимы встречаются чаще — например, локации центральных районов города.</p>
  
   <p>За последние несколько десятилетий количество методов цифрового анализа литературы многократно увеличилось.
Современные NLTK библиотеки позволяют находить в тексте имена собственные, строить деревья зависимостей между словами, 
определять автора и даже процент заимствований. Это открывает широкий спектр возможностей перед исследователями: 
при достаточном объеме данных, можно работать, с литературоведческими или другими гуманитарными задачами, 
получая результаты, которые без количественных методов были бы недоступны. Целью нашего проекта является анализ частотности локаций, 
которые посещают герои русской литературы XIX–XXI веков.</p>

</div>


