---
layout: base
---
<article class="post">
  
  <h2>Модуль moscow-toponym</h2>
  <p><a href="https://github.com/diana-esaian/moscow_toponyms">Репозиторий пакета</a></p>
  <p>Извлекает московские топонимы из русских текстов при помощи таких библиотек Python, 
    как SpaCy, Natasha и PyMorphy2.</p>
  <p>С помощью библиотек Natasha и SpaCy производятся разметка именованных сущностей и извлечение всех локаций, 
    упомянутых в тексте. Далее после лемматизации с помощью инструмента PyMorphy2 и фильтрации по черному списку, 
    включающему в себя не интересующие нас названия, немосковские топонимы отсеиваются.</p>
  <p>При выводе московского топонима пользователь получает следующую информацию:</p>
  <ul>
    <li>toponym — топоним в падежной форме (например, Кремле)</li>
    <li>lemmatized_toponym — топоним в начальной форме (например, Кремль)</li>
    <li>start_char — позиция начала выделенного топонима (например, 79)</li>
    <li>stop_char — позиция конца выделенного топонима (например, 85)</li>
  </ul>
  <h3>Применение</h3>
  <p><code>from moscow_toponyms import ExtractMosToponyms</code></p>
  <p><code>text = "Однажды весною, в час небывало жаркого заката, в Москве, на Патриарших прудах, появились два гражданина."</code></p>
  <p><code>extract_toponyms = ExtractMosToponyms(text)</code></p>
  <p>Используя SpaCy, извлекаем топонимы и их позицию в тексте, лемматизируем извлеченные топонимы с помощью PyMorphy2:</p>
  <p><code>spacy_extracted = extract_toponyms.spacy_extract()</code></p>
  <p><code>print(spacy_extracted)</code></p>
  <p>({51: 'смоленский площадь'}, {0: 'саша панкратов'})</p>
  <p><code>spacy_dict = spacy_extracted[0]</code></p>
  <p><code>spacy_names = spacy_extracted[1]</code></p>
  <p>Используя Natasha, извлекаем топонимы и их позицию в тексте:</p>
  <p><code>natasha_extractor = extract_toponyms.natasha_extract()</code></p>
  <p><code>print(natasha_extractor)</code></p>
  <p>({51: ['Смоленской площади', 'Смоленская площадь', 69]}, {0: 'Саша Панкратов'})</p>
  <p><code>natasha_dict = natasha_extractor[0]</code></p>
  <p><code>natasha_names = natasha_extractor[1]</code></p>
  <p>Добавляем извлеченные имена людей в существующий черный список для более чистой выдачи:</p>
  <p><code>black_list = extract_toponyms.merging_blacklists(spacy_names, natasha_names)</code></p>
  <p>Фильтруем все извлеченные топонимы и возвращаем только московские в склоняемой и начальной форме, а также позиции начала и конца выделенного топонима:</p>
  <p><code>final_results = extract_toponyms.inner_merging_filtering(black_list, spacy_dict, natasha_dict)</code></p>
  <p><code>print(final_results)</code></p>
  <p>[{'toponym': 'Смоленской площади', 'lemmatized_toponym': 'Смоленская площадь', 'start_char': 51, 'stop_char': 69}]</p>
  <p><a href="https://github.com/diana-esaian/MOSCOW-TEXT">Репозиторий проекта</a></p>
  
  <h2>Пример таблицы с результатами</h2>
  <img src="https://i.ibb.co/gmyqvJ3/2023-04-08-09-46-07.png" alt="Пример таблицы с результатами" width="830" height="350">
  
  <h2>Оценка согласованности работы библиотек Natasha и Spacy</h2>

  <p>Подсчитана с помощью коэффициента Каппа Коэна. Соответствующий инструмент есть в библиотеке scikit-learn. 
     После подсчетов был получен коэффициент равный 0,64. По существующим шкалам интерпретации результатов 
     полученный нами уровень согласия работы моделей можно считать существенным.</p> 
  
  <h2>Оценка работы библиотек Natasha и Spacy по показателям precision и recall</h2>
  
  <p>Подсчитана на основе ручной разметки нескольких фрагментов литературных текстов. 
     По библиотеке Natasha получены следующие результаты (округлено до сотых):</p>
  <p></p>
  <p>precision = 0.22</p>
  <p>recall = 0.57</p>
  <p></p>
  <p>По библиотеке Spacy:</p>
  <p></p>
  <p>precision = 0.19</p>
  <p>recall = 0.50</p>

</article>
