---
layout: base
---
<article class="post">
  
  <h2>Что-то о пакетах + ссылка</h2>
  
  <h2>Пример таблицы с результатами</h2>
  <p><img src="results_illust.png"></p> 
  
  <h2>Оценка согласованности работы библиотек Natasha и Spacy</h2>

  <p>Подсчитана с помощью коэффициента Каппа Коэна. Соответствующий инструмент есть в библиотеке scikit-learn. 
     После подсчетов был получен коэффициент равный 0,64. По существующим шкалам интерпретации результатов 
     полученный нами уровень согласия работы моделей можно считать существенным.</p> 
  
  <h2>Оценка работы библиотек Natasha и Spacy по критериям precision и recall</h2>
  
  <p>Подсчитана на основе ручной разметки нескольких фрагментов литературных текстов.</p> 
  <p>По библиотеке Natasha получены следующие результаты (округлено до сотых):</p>
  <p>precision = 0.22</p>
  <p>recall = 0.57</p>
  
  <p>По библиотеке Spacy:</p>
  <p></p>
  <p>precision = 0.19</p>
  <p>recall = 0.50</p>

</article>
