---
layout: base
---
<article class="post">
  
  <h2>Что-то о пакетах + ссылка</h2>
  
  <h2>Оценка согласованности работы библиотек Natasha и Spacy</h2>

  <p>Подсчитана с помощью коэффициента Каппа Коэна. Соответствующий инструмент есть в библиотеке scikit-learn. 
     После подсчетов был получен коэффициент равный 0,64. По существующим шкалам интерпретации результатов 
     полученный нами уровень согласия работы моделей можно считать существенным.</p> 
  
  <h2>Оценка работы библиотек Natasha и Spacy по критериям precision и recall</h2>
  
  <p>Подсчитана на основе ручной разметки нескольких литературных текстов. 
     По библиотеке Natasha получены следующие результаты:</p>
  <p>precision = 0.21621621621621623</p>
  <p>recall = 0.5714285714285714</p>
  


</article>
